{% extends 'base.html.twig' %}

{% block title %}Hello Viktoria!{% endblock %}

{% block body %}
<style>

</style>

<h1 class="text-center">Hello from the second page</h1>
<h2>Randon Number function</h2>
<h3 class="text-success">Your Randon Number is: {{randomNumber}}</h3>
<button class="btn btn-secondary"><a href="/test" class="text-decoration-none text-white">Go back</a></button>


{% endblock %}